src/main/mule/filedemo.xml
<?xml version="1.0" encoding="UTF-8"?>



<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"

	xmlns:file="http://www.mulesoft.org/schema/mule/file"

	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd

http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd

http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<file:config name="File_Config" doc:name="File Config" doc:id="ea4452dd-3d68-47db-9663-8b7d2a2cc403" />

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0300bab1-221a-4c53-91fb-beb1f716f1c3" >

		<http:listener-connection host="0.0.0.0" port="8081" />

	</http:listener-config>

	<flow name="filedemoFlow" doc:id="b3b2f79b-2e7a-4067-ba35-c75a57bd868f" >

		<file:listener doc:name="On New or Updated File" doc:id="a8f984aa-bb84-48d0-9c8a-22448e647df6" config-ref="File_Config" directory="C:\Users\sai\Documents\Komal\komal" watermarkMode="MODIFIED_TIMESTAMP" moveToDirectory="C:\Users\sai\Documents\Komal\demo" applyPostActionWhenFailed="false">

			<scheduling-strategy >

				<fixed-frequency frequency="10" timeUnit="SECONDS"/>

			</scheduling-strategy>

			<file:matcher filenamePattern="*.csv" />

		</file:listener>

		<logger level="INFO" doc:name="Logger" doc:id="aa2afd83-f7d9-48de-8bf1-834ecdafc441" message="#[payload]" category="content of read file "/>

		<ee:transform doc:name="Transform Message" doc:id="0a295b79-fb9e-4393-83c2-198a50338e70" >

			<ee:message >

				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name": payload[0].Name,
	"city": payload[0].City,
	"country": payload[0].Country
}]]></ee:set-payload>

			</ee:message>

		</ee:transform>

		<file:write doc:name="Write" doc:id="9ff596a3-22c0-41e6-941f-1e81fb38a62f" config-ref="File_Config" path="C:\Users\sai\Documents\Komal\demo\Output\test1234.txt"/>

	</flow>

</mule>